/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  color: #333;
  max-width: 750px;
  margin: 0 auto;
  padding: 0 20px;
  /* background-color: #f6f0e6; */
  background-image: url(images/recbg.jpeg);

}

/* Header styles */
header {
  padding: 40px 0;
  text-align: center;
}

h1,
.site-title {
  display: inline;
  font-size: 2.5rem;
  color: #2c3e50;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

header img {
  height: 2.5rem;
  vertical-align: middle;
}

/* Main content styles */
main {
  margin: 0 auto;
}

section {
  margin-bottom: 40px;
}


h2 {
  font-size: 2rem;
  color: #2c3e50;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.5rem;
  color: #2c3e50;
  margin-bottom: 10px;
}

.desc {
  text-align: center;
}

.projects-list ul {
  list-style-type: none;
}

.projects-list li {
  margin-bottom: 8px;
}

.projects-list li img {
  height: 1.2em;
  vertical-align: middle;
  margin-right: 6px;
}

/* block list styles */

.block h2 {
  display: inline-block;
}

.block {
  padding: 40px;
  /* background: #f0e9de; */
  background: whitesmoke;
  border-radius: 8px;
}

.post .block {
  margin: 20px;
}

.center {
  text-align: center;
}


/* Unstyled link - removes default link appearance */
.link-unstyled {
  color: inherit;
  text-decoration: none;
}

.link-unstyled:hover {
  color: inherit;
  text-decoration: none;
}

.feature-image {
  display: block;
  margin: 0 auto;
}

.feature-image-landscape {
  width: 100%;
  height: auto;
}

.feature-image-portrait {
  width: 50%;
  height: auto;
}

/* Footer styles */
footer {
  text-align: center;
  padding: 40px 0;
  color: #666;
  font-size: 0.9rem;
}

/* Responsive design */
@media (max-width: 768px) {
  body {
    padding: 0 15px;
  }

  h1,
  .site-title {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.25rem;
  }
}